* {
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  background-color: bisque;
}

h4 {
  display: inline;
}

.refresh {
  margin-left: 13%;
}

.input-group-text {
  background-color: #d1e7dd;
}

.container {
  border: 2px solid;
  margin: 10% auto;
  padding: 5%;
}
